body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
  color: blue;
}

a:hover {
  color: rgb(13, 13, 233);
}


